.c-banner {
    $self:&;
    display: block;
    position: relative;

    &__contentBox {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        text-align: left;
        padding: ($bp * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &--even {
            right: unset;
            left: 0;
            background-color: white;
            color: black;
        }

        @include breakpoint("tablet-wide") {
            position: absolute;
            width: 40%;
            height: 100%;
        }
    }
    &--odd {
        left: 0;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__title {
        @include font-size(18px, 52px);
        margin: 0;
    }

    &__content {
        @include font-size(12px, 14px);
        max-width: 70%;
        margin: 25px 0;
    }

    &__link {
        @include font-size(12px, 14px);
        font-weight: 700;
        display: block;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid white;

        &--even {
            left: 0;
            background-color: white;
            color: black;
            border-color: black; 
        }
    }
}